/* ******************* */
/*        RESET        */
/* ******************* */

/* box sizing */
*,
*::before,
*:active {
  box-sizing: border-box;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* resetting font-weight on headings */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ******************* */
/*         VARS        */
/* ******************* */

:root {
  --white: 0, 0%, 100%;
  --softred: 10, 79%, 65%;
  --cyan: 186, 34%, 60%;
  /*Neutral  */
  --darkbrown: 25, 47%, 15%;
  --mediumbrown: 28, 10%, 53%;
  --cream: 27, 66%, 92%;
  --paleorange: 33, 100%, 98%;

  /* font-family */
  --fontfam: "DM Sans", sans-serif;
}

/* ******************* */
/*       CONTENT       */
/* ******************* */

body {
  background-color: hsl(var(--cream));
  font-family: var(--fontfam);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: 500px;
  height: 550px;
}

.balance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  height: 100px;
  background-color: hsl(var(--softred));
  margin-bottom: 20px;
  border-radius: 20px;
}

.balance-text {
  grid-column: 1;
  color: hsl(var(--white));
  font-size: 14px;
  padding: 22px 0px 0px 20px;
}

.balance span {
  grid-column: 1;
  color: hsl(var(--white));
  font-size: 26px;
  font-weight: 700;
  padding: 5px 0px 0px 20px;
}

.balance img {
  grid-column: 2;
  justify-self: end;
  translate: 0px -50%;
  padding-right: 20px;
}

.graph-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: hsl(var(--paleorange));
  border-radius: 20px;
}

.spending-head {
  font-weight: 700;
  font-size: 30px;
  color: hsl(var(--darkbrown));
  padding: 20px 0 10px 20px;
}

.graph {
  width: 500px;
  flex-grow: 1;
}

.total {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  width: 460px;
  height: 150px;
  border-top: 1px solid hsl(27, 66%, 92%);
  padding-top: 30px;
}

.total-1 p {
  font-weight: 400;
  color: hsl(var(--darkbrown));
  opacity: 0.5;
}

.total-1 span {
  font-weight: 700;
  color: hsl(var(--darkbrown));
  font-size: 44px;
}

.total-2 {
  padding-top: 36.25px;
  text-align: right;
}

.total-2 span {
  font-weight: 700;
  color: hsl(var(--darkbrown));
}

.total-2 p {
  color: hsl(var(--darkbrown));
  opacity: 0.5;
}
